*{
    margin: 0;
    padding:0;
}
kbd{
    display: inline-block;
    width: 6em;
    height: 6em;
    text-transform: uppercase;
    position: relative;
}
kbd>img{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
}
kbd>span>button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
kbd:hover >span>button{
    display: inline-block;
}
a{
    text-decoration: none;
}
main{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
body{
    background: #b1acac url(./wallhaven-93750.jpg) no-repeat center center;
    background-size: cover;
}
.wapper{
    display: inline-block;
}
.wapper>div:nth-child(2){
    margin-left: 10px;
}
.wapper>div:nth-child(3){
    margin-left: -40px;
}
.key{
    color: #c5c5c5;
    height: 40px;
    width: 50px;
    background:linear-gradient(to bottom,#292929 0%,#111111 100%);
    border-radius: 4px;
    box-shadow: 0 0 0 1px #1a1b1c,0 0 0 2px #1f2020,0 3px 0 2px #080808;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
    font-size: 17px;
}
.row{
    margin: 20px;
}
