*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.window{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    overflow: hidden;
}
.images{
    position: relative;
    height: 200px;
}
img{
    position: absolute;
    transition: all .5s;
    width: 100%;
}
.current{
    left: 0;
    transform: translateX(0);
    z-index:1;
}
.ready{
    transform: translateX(100%)
}
.leave{
    transform: translateX(-100%)
}