*{
    margin: 0;
    padding:0;
}
kbd{
    border: 1px solid red;
    display: inline-block;
    width: 6em;
    height: 6em;
    text-transform: uppercase;
    position: relative;
}
kbd>button{
    position: absolute;
    bottom: 0;
    right: 0;
}

a{
    text-decoration: none;
}
main{
    text-align: center;
}
.wapper{
    display: inline-block;
}
.wapper>div:nth-child(2){
    margin-left: 4em;
}
.wapper>div:nth-child(3){
    margin-left: 4em;
}
